.team-img {
  width: 100px;
}

@media (max-width:767px) {
  .team-img {
    width: 60px;
  }
}

.team-0 {
  top: 10vh;
  left: 30vw;
}

@media(max-width: 1024px) {
  .team-0 {
    top: 5vh;
    left: 20vw;
  }
}

@media(max-width: 767px) {
  .team-0 {
    top: 23vh;
    left: 25vw;
  }
}

.team-1 {
  top: 20vh;
  left: 8vw;
}

@media(max-width: 1024px) {
  .team-1 {
    top: 20vh;
    left: 15vw;
  }
}

@media(max-width: 767px) {
  .team-1 {
    top: 26vh;
    left: 10vw;
  }
}

.team-2 {
  top: 40vh;
  left: 4vw;
}

@media(max-width: 1024px) {
  .team-2 {
    top: 30vh;
    left: 0vw;
  }
}

@media(max-width: 767px) {
  .team-2 {
    top: 34vh;
    left: 2vw;
  }
}

.team-3 {
  top: 60vh;
  left: 7vw;
  width: 150px;
}

@media(max-width: 1024px) {
  .team-3 {
    top: 60vh;
    left: 1vw;
    width: 150px;
  }
}

@media(max-width: 767px) {
  .team-3 {
    top: 56vh;
    left: 1vw;
    width: 120px;
  }
}

.team-4 {
  top: 10vh;
  right: 30vw;
}

@media(max-width: 1024px) {
  .team-4 {
    top: 5vh;
    right: 20vw;
  }
}

@media(max-width: 767px) {
  .team-4 {
    top: 23vh;
    right: 25vw;
  }
}

.team-5 {
  top: 20vh;
  right: 8vw;
}

@media(max-width: 1024px) {
  .team-5 {
    top: 20vh;
    right: 15vw;
  }
}

@media(max-width: 767px) {
  .team-5 {
    top: 26vh;
    right: 10vw;
  }
}

.team-6 {
  top: 40vh;
  right: 4vw;
}

@media(max-width: 1024px) {
  .team-6 {
    top: 30vh;
    right: 0vw;
  }
}

@media(max-width: 767px) {
  .team-6 {
    top: 34vh;
    right: 2vw;
  }
}

.team-7 {
  top: 60vh;
  right: 7vw;
  width: 150px;
}

@media(max-width: 1024px) {
  .team-7 {
    top: 60vh;
    right: 1vw;
    width: 150px;
  }
}

@media(max-width: 767px) {
  .team-7 {
    top: 56vh;
    right: 1vw;
    width: 120px;
  }
}